.cardFavoritas{
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    padding-top: 1.5vw;
    
    p{
        font-size: 12px;
    }

    h2{
        font-size: 16px;
    }

    button{
        background-color: $dark-title;
        padding: 1vw;
    }

    .preco{
        text-align: center;
    }
}