.card{
    background-color: $white;
    width: 70vw;
    height: 6vw;
    margin-bottom: 2vw;
    display: flex;
    align-content: center;
    align-items: center;
    border: solid 1px $shadow;
    box-shadow: 3px 3px 8px #00000029;
    background-color: $white;
    opacity: 1;


    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 0.9vw;

        li{
            padding: 0 1.5vw;
            
            img{
                width: 5vw;
            }

            button{
                width: 6vw;
                border: none;
                font-size: 0.9vw;
                background-color: $green-color;
                text-transform: uppercase;
                color: $white;
                text-align: center;
                border-radius: 5px;
            }
        }
    }
}