.header{
    background-color: #E61D41;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vw;
    }
    
    img{
        width: 2vw;
        color: $white;
        fill: $white;
    }

    a{
        color: $white;
        padding-left: 1vw;
        text-decoration: none;
    }

    .passagensfav{
        display: flex;
        justify-content: flex-start;
        background-color: #E61D41;
    }
}