.pass-selecionadas{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 1vw 0;
    margin-top: 3vw;

    strong{
        font-size: 27px;
    }

    p{
        padding: .5vw 0;
    }

    button{
        width: 80%;
        padding: .5vw 0;
    }
}