.sidebar{
    background-color: $dark-title;
    width: 28vw;
    height: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
    color: $white;
    padding: 1vw;

    a{
        text-decoration: none;
        color: $white;
    }
}