.table{
    background-color: $white;
    width: 70vw;
    height: 2.5vw;
    display: flex;
    align-content: center;
    align-items: center;
    // z-index: 2;

    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 1vw;

        li{
            padding: 0 1.5vw;
            color: $lighter-title;
        }
    }
}