.titulo-filtro .container{
    display: flex;
    justify-content: flex-start;
    padding: 3vw 0;

    .titles{
        padding-left: 2vw;

        h1{
            color: $dark-title;
            font-size: 28px;
        }

        p{
           color: $lighter-title; 
           font-size: 14px;
           letter-spacing: 0;

        }
    }

    img{
        width: 35px;
        height: 35px;
    }
}