$pink-color: #E61D41;
$green-color: #008760;
$bg-color: #DEDEDE;
$white: #fff;
$dark-title: #3C3C3C;
$lighter-title: #747474;
$shadow: #00000029;

.container{
    width: 80vw;
    margin: auto;
}

.top-box{
    border-top: solid 3px $pink-color;
    border-radius: 5px;
}

.hide{
    color: $white;
}

.main{
    background-color: $bg-color;
}

.checks{
    padding: .5vw 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    label input{
        color: $white;
    }

    label input:hover{
        color: $lighter-title;
    }

    label input:checked{
        color: $green-color;
    }

    label{
        padding: .1vw;
    }
}

button{
    // width: 6vw;
    padding: .5vw 0vw;
    border: none;
    font-size: 0.9vw;
    background-color: $green-color;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.97px;
}

.allpag{
    display: flex;
    justify-content: space-around;
    background-color: $bg-color;
    flex-wrap: wrap;
}

.filtrospag{
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
